body{
background-image: url(images/bakery\ 2.png) ;
background-size: cover;
min-height: 100vh;
}


.bakery-btn{
    background-image: url(images/btn-bg.png) ;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 20px;
    display: block;
    width: 100%;
    cursor: pointer;
}

.col-1{
    position: absolute;
    top: 65%;
    left: 72%;
}
.col-2{
    position: absolute;
    top: 65%;
    left: 23%;

}
.col-3{
    position: absolute;
    top: 65%;
    left: 35%;
}
.col-4{
    position: absolute;
    top: 65%;
    left: 47%;
}
.col-5{
    position: absolute;
    top: 65%;
    left: 60%;
}
.col-6{
    position: absolute;
    top: 65%;
    left: 11%;
}