body{
    background-image: url(images/background.jpg) ;
  background-size: cover;
  min-height: 100vh;
}
h1 {
  text-align: right;
  font-family: 'Bungee', cursive  ;
  font-size: 70px;

  color:rgb(170, 157, 194) ;

}

i {
  color:rgb(219, 147, 38);
  width: 100px;
  font-size: 30px;
  text-align: right;
}

.bakery{
  width: 350px;
  position: absolute;
  left: 50%;
  top: 25%;
}

.basketball{
  width: 350px ;
  position: absolute;
  left: 25%;
  top: 5%;
  
}

.basketball img{
  width: 100%;
}

.bakery{
  width: 100%;
}